
body {
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}

/* Style the tab */
.tab {
    padding-top: 30px;
    padding-right: 5px;
    float: left;
    background-color: #e6e6e6;
    width: 10%;
    height: 100%;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #bdbcbc;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

.addButton {
    text-align: end;
}

.captionTable {
    text-align: center;
}

tr {
    background-color: rgba(211, 235, 220, 0.5);
}

a {
    text-decoration: none;
}

#journal_length {
    padding-bottom: 5px;
}

.selectMarks {
    margin-right: 5px;
}

#addMarkTeacher {
    margin-right: 5px;
}

.table .btn:hover {
    border-radius: 70%;
    transition: all 0.7s ease;
    box-shadow: inset 0 0 0 1px black;
}
