<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header::header}"></head>
<body>
<nav th:replace="~{fragments/navbar::navbar}"></nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Create New Teacher </h1>
            <div class="card-body">
                <form th:action="@{/teachers}" th:object="${teacher}" method="POST">
                    <div class="form-group">
                        <label> Teacher First Name </label>
                        <input
                                type="text"
                                name="firstName"
                                th:field="*{firstName}"
                                class="form-control"
                                placeholder="Enter Teacher First Name"
                        />
                    </div>

                    <div class="form-group">
                        <label> Teacher Last Name </label>
                        <input
                                type="text"
                                name="lastName"
                                th:field="*{lastName}"
                                class="form-control"
                                placeholder="Enter Teacher Last Name"
                        />
                    </div>

                    <div class="form-group">
                        <label> Salary </label>
                        <input
                                type="number"
                                name="salary"
                                th:field="*{salary}"
                                class="form-control"
                                placeholder="Enter salary"
                        />
                    </div>
                    <div class="form-group">
                        <label for="subject"> Subject </label>
                        <select required th:field="*{subject.id}" id="subject"  class="form-control">
                            <option
                                    th:each="subject: ${subjects}"
                                    th:value="${subject.id}"
                                    th:text="${subject.title}"
                            ></option>
                        </select>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>