<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header::header}"></head>
<body>
<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div class="container">
    <div class="row">
        <h1> Journal </h1>
    </div>

    <table class="table table-bordered border-dark" style="background-color: #e3f2fd;">
        <thead>
        <tr>
            <th> Id</th>
            <th> Date</th>
            <th> Student</th>
            <th> Subject</th>
            <th> Teacher</th>
            <th> Mark</th>
            <!--            <th th:each="subject: ${subjects}" th:text="${subject.title}"></th>-->

        </tr>
        </thead>

        <tbody>
        <tr th:each="mark, idx: ${marks}">
            <td th:text="${idx.count}"></td>
            <td th:text="${mark.created}"></td>
            <td th:text="${mark.student.firstName} + ' ' + ${mark.student.lastName}"></td>
            <td th:text="${mark.subject.title}"></td>
            <td th:text="${mark.teacher.firstName} + ' ' + ${mark.teacher.lastName}"></td>
            <td th:text="${mark.value}"></td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>