<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header::header}">


</head>
<body>
<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div class="page-wrap">

    <div class="container-fluid">

        <div style="text-align: center">
            <h1> Journal </h1>
        </div>
        <div style="text-align: end">
            <div>
                <a th:href="@{/journal/new/0}" class="btn btn-primary btn-sm mb-3"> Add mark</a>
            </div>
        </div>
        <div class="tab">
            <button type="button" class="btn btn-outline-secondary"
                    th:each="subject : ${subjects}"
                    th:text="${subject.title}"
                    th:attr="onclick=|getMarks(${subject.id})|">

            </button>
        </div>
        <!--        <table class="table table-striped table-bordered border-dark border-3" style="text-align: center; width: 90%">-->
        <div style="display: inline-block; width: 90%">
            <table id="journal" class="table table-striped table-bordered " style="text-align: center">
                <thead class="bg-light">
                <tr>
                    <th> Num</th>
                    <th> Date</th>
                    <th> Student</th>
                    <th> Subject</th>
                    <th> Teacher</th>
                    <th> Mark</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mark, idx: ${marks}">
                    <td th:text="${idx.count}"></td>
                    <td th:text="${mark.created}"></td>
                    <td><a
                            th:href="@{/students/{id}(id=${mark.student.id})}"
                            th:text="${mark.student.firstName} + ' '
                    + ${mark.student.lastName}"
                            class="link-dark">
                    </a></td>
                    <td><a
                            th:href="@{/subjects/edit/{id}(id=${mark.subject.id})}"
                            th:text="${mark.subject.title}"
                            class="link-dark">
                    </a></td>
                    <td><a
                            th:href="@{/teachers/{id}(id=${mark.teacher.id})}"
                            th:text="${mark.teacher.firstName} + ' '
                    + ${mark.teacher.lastName}"
                            class="link-dark">
                    </a></td>
                    <td><a th:href="@{/journal/edit/{id}(id=${mark.id})}"
                           th:text="${mark.value}"
                           th:class="${mark.value} > 3 ? 'btn btn-success' :'btn btn-warning'"
                    ></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/ajax_func.js}"></script>
</body>
</html>