<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="~{fragments/header::header}">

</head>
<body>
<nav th:replace="~{fragments/navbar::navbar}">
</nav>
<div class="page-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="margin-top: 100px">
                <div id="datepicker"></div>
            </div>
            <div class="col-10">
                <div class="captionTable">
                    <h1> Journal </h1>
                </div>
                <div class="addButton">
                    <div>
                        <a th:href="@{/journal}" class="btn btn-primary btn-sm mb-3" style="float: left"> Show all</a>
                        <a sec:authorize="hasAuthority('ROLE_TEACHER')" th:href="@{/journal/new/0}"
                           class="btn btn-primary btn-sm mb-3"> Add mark</a>
                    </div>
                </div>
                <!-- <div class="tab">
                     <button type="button" class="btn btn-outline-secondary fw-bold"
                             th:each="subject : ${subjects}"
                             th:text="${subject.title}"
                             th:attr="onclick=|getMarksBySubject(${subject.id})|">
                     </button>
                 </div>
                 <div style="display: inline-block; width: 90%">-->

                <table id="journal" class="table table-striped table-bordered border-dark border-3"
                       style="text-align: center">
                    <thead class="table-dark">
                    <tr>
                        <th> No</th>
                        <th> Date</th>
                        <th> Student</th>
                        <th> Subject</th>
                        <th> Teacher</th>
                        <th> Mark</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mark, idx: ${marks}">
                        <td th:text="${idx.count}"></td>
                        <td><a data-bs-toggle="tooltip" title="Filter by date"
                               href="#"
                               th:attr="onclick=|getMarksByDate('${mark.created}')|"
                               th:text="${mark.created}"
                               class="link-dark">
                        </a></td>
                        <td><a data-bs-toggle="tooltip" title="Click for show student marks"
                               th:href="@{/journal/students/{id}(id=${mark.student.id})}"
                               th:text="${mark.student.lastName} + ' '
                    + ${mark.student.firstName}"
                               class="link-dark">
                        </a></td>
                        <td><a data-bs-toggle="tooltip" title="Click for filter by subject"
                               href="#"
                               th:attr="onclick=|getMarksBySubject(${mark.subject.id})|"
                               th:text="${mark.subject.title}"
                               class="link-dark">
                        </a></td>
                        <td><a data-bs-toggle="tooltip" title="Click for filter by teacher"
                               href="#"
                               th:attr="onclick=|getMarksByTeacher(${mark.teacher.id})|"
                               th:text="${mark.teacher.lastName} + ' '
                    + ${mark.teacher.firstName}"
                               class="link-dark">
                        </a></td>
                        <td><a th:href="${#authorization.expression('hasAuthority(''ROLE_TEACHER'')')} ?
                    @{/journal/edit/{id}(id=${mark.id})} : _"
                               data-bs-toggle="tooltip" title="Click for edit or delete"
                               th:text="${mark.value}"
                               th:class="${mark.value} > 3 ?
                           'btn btn-success' :
                           (${mark.value} < 3 ?
                           'btn btn-danger' :
                           'btn btn-warning')"
                        ></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/ajax_func.js}"></script>
</body>
</html>