<!DOCTYPE html>
<html lang="en" class="h-100">
<head th:replace="~{fragments/header::header}"></head>
<link href="css/cover.css" rel="stylesheet">
<body >
        <div class="container" style="margin-top: 15%">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                    <!-- success message -->
                    <div th:if="${param.success}">
                        <div class="alert alert-info" style="margin-top: 10px">You've successfully registered
                        </div>
                    </div>
                    <h1 class="text-center"> Registration form </h1>
                    <div class="card-body">
                        <form th:action="@{/registration}" th:object="${user}" method="POST">
                            <div class="form-group">
                                <label class="fs-5 fw-bold"> Login </label>
                                <input
                                        type="text"
                                        name="login"
                                        th:field="*{login}"
                                        class="form-control"
                                        placeholder="Enter login"
                                        required
                                />
                            </div>

                            <div class="form-group">
                                <label class="fs-5 fw-bold"> Password </label>
                                <input
                                        type="password"
                                        name="password"
                                        th:field="*{password}"
                                        class="form-control"
                                        placeholder="Enter password"
                                        required
                                        minlength="6"
                                        maxlength="10"
                                />
                            </div>
                            <div class="form-group">
                                <label for="role" class="fs-5 fw-bold"> Role </label>
                                <select required th:field="*{role}" id="role" class="form-control">
                                    <option
                                            th:each="role: ${roles}"
                                            th:value="${role}"
                                            th:text="${role}"
                                    ></option>
                                </select>
                            </div>

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary mt-4">
                                   Register
                                </button>
                                <a th:if="${param.success}" th:href="@{/login}"
                                   class="btn btn-success mt-4" style="float: right">Log in</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>