<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header::header}"></head>
<body>
<nav th:replace="~{fragments/navbar::navbar}"></nav>
<div class="container">
    <div class="row captionTable">
        <h1> List Subjects </h1>
    </div>

    <div class="row">
        <div class="addButton">
            <a th:href="@{/subjects/new}" class="btn btn-primary btn-sm mb-3"> Add Subject</a>
        </div>
    </div>
    <table class="table table-striped table-bordered border-dark border-3" style="text-align: center">
        <thead class="table-dark">
        <tr>
            <th> No</th>
            <th> Title</th>
            <th> Hours</th>
            <th> Teachers</th>
            <th> Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="subject, idx: ${subjects}">
            <td th:text="${idx.count}"></td>
            <td th:text="${subject.title}"></td>
            <td th:text="${subject.hours}"></td>
            <td>
                <span th:each="teacher: ${teachers.get(subject.getId())}">
                <a th:href="@{/teachers/{id}(id=${teacher.id})}"
                   th:text="${teacher.firstName} + ' ' + ${teacher.lastName} "
                class="btn btn-secondary btn-sm">  </a>
                </span>
            </td>
            <td style="width: 30%">
                <a th:href="@{/subjects/edit/{id}(id=${subject.id})}"
                   class="btn btn-primary">Update</a>

                <a th:href="@{/subjects/remove/{id}(id=${subject.id})}"
                   class="btn btn-danger">Delete</a>

            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>